@import '../../../variables.scss';

.ArticleContainer {
    max-width: $desktop-container;
    margin: 0 auto;

    p {
        text-align: justify;
        font-size: 1.25rem;
        line-height: 1.30;
        margin-bottom: 2rem;
    }
}
.ArticleTitle {
    margin: 5rem 0;
    text-align: center;
    font-size: 5rem;
}