@import './../../../variables.scss';

.Header {
}

.HeaderContainer{
    max-width: $desktop-container;
    margin: 0 auto;
    padding:2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

.MainNavigation {
    display: flex;
    gap: 3rem;
    list-style: none;
    
    a {
        font-size: 2.5rem;
        text-decoration: none;
        color: black;
        font-family: 'Bebas Neue', cursive;
        transition: color 150ms ease-in-out;
        &:hover {
            color: #FFBA49;
        }
    }
}