@import './../../../variables.scss';

.BrutalistHeader {
  position: relative;
  padding: 10rem 0;
  color: white;
}

.BrutalistHeaderContainer {
  max-width: $desktop-container;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.BrutalistHeaderTitle {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.BrutalistHeaderContent {
  max-width: 50%;
  line-height: 1.75;
}

.BrutalistHeaderBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.BrutalistHeaderfFader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .3;
  z-index: 2;
}